html {
    background: #e3e3e3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    margin: 40px;
    border-top: 10px solid rgba(17, 18, 17, 0.267);

}
section{
    display: flex;
}

h1 {
font-size: 3em;
margin: 0;
}
h2{
    position: sticky;
    top: 0;
}
p {
line-height: 1.4em;
}
#blog {
border-top: 1px dotted rgba(17, 18, 17, 0.267);
}
.blog-post {
border-bottom: 1px dotted rgba(17, 18, 17, 0.267);
}
